.mainPageBody{
    background-color: #fff;
    background-size: cover;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    height: auto;
}

.idPwSearchBtnBox{
    background-color: #F5F5F5;
    border-radius: 24px;
    display: flex;
    align-items: center;
    padding: 7px;
}

.idPwSearchBtnBox div{
    width: 50%;
    text-align: center;
}

.idPwSearchBtnBox div a{
    font-size: 15px;
    font-weight: bold;
    color: #999999 !important;
}

.idPwSearchBtnBox .active{
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.idPwSearchBtnBox .active a{
    color: #4B3F24 !important;
}

.scoreContentWrap h2{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid #DFDFDF;
}

.scoreBoxWrap{
    width: 210px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.scoreBoxWrap div{
    width: 100px;
    padding-top: 21px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #F5F5F5;
    border-radius: 16px;
}

.scoreBoxWrap div p{
    margin-bottom: 0px;
}

.scoreBoxWrap div p:first-child{
    font-size: 24px;
    font-weight: bold;
}

.scoreBoxWrap div p:last-child{
    font-size: 14px;
    color: #7A7A7A;
}

.listScoreBox{
     width: 100%;
     padding: 0px 12px;
     background-color: #F5F5F5;
     border-radius: 8px;
     display: flex;
 }

.listScoreBox:not(:first-child){
    margin-top: 12px;
}


.listScoreBox div img{
    width: 54px;
}

.listScoreBoxTextWrap{
    padding: 16px;
    padding-bottom: 9px;
}


.listScoreTitle{
    margin-bottom: 12px;
}

.scoreDate{
    font-size: 14px;
    color: #999999;
}

.score{
    font-size: 18px;
    font-weight: bold;
}

.listScoreBoxTextWrap p{
    margin-bottom: 0px;
}

.listScoreBoxTextWrap div{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 12px;
}

.attBox{
    background-color: #F5F5F5;
    border-radius: 8px;
    border:1px solid #DFDFDF;
    padding: 16px;
}

.attBox2{
    background-color: #F5F5F5;
    border-radius: 8px;
    border:1px solid #DFDFDF;
    overflow: hidden;
    text-align: center
}

.attBoxWrap{
    padding: 13px 15px;
}

.attBoxWrapContent{
    padding: 13px 15px;
    background-color: #fff;

}
.attBoxWrapContent:not(:last-child){
    border-bottom: 1px solid #DFDFDF;
}

.result0{
    padding: 3px 11px;
    color: #fff;
    background-color: #3D83E3;
    border-radius: 8px;
    border: 1px solid #3D83E3;
}

.result1{
    padding: 3px 11px;
    color: #ADADAD;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ADADAD;
}


@media (min-width: 180px) and (max-width: 480px) {/***********************************************321-480***********************************************/

    .mainPageBody{
        height: auto;
    }

}