.mainPageBody{
    background-color: #fff;
    background-size: cover;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    height: 100%;
}


@media (min-width: 180px) and (max-width: 480px) {/***********************************************321-480***********************************************/

    .mainPageBody{
        height: 100%;
    }

}