.mainPageBody{
    background-color: #fff;
    background-size: cover;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    height: 100%;
}

.idPwSearchBtnBox{
    background-color: #F5F5F5;
    border-radius: 24px;
    display: flex;
    align-items: center;
    padding: 7px;
}

.idPwSearchBtnBox div{
    width: 50%;
    text-align: center;
}

.idPwSearchBtnBox div a{
    font-size: 15px;
    font-weight: bold;
    color: #999999 !important;
}

.idPwSearchBtnBox .active{
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.idPwSearchBtnBox .active a{
    color: #4B3F24 !important;
}

.resultImg{
    width: 163px;
    margin: 0 auto;
}

.resultImgWrap{
    text-align: center;
    padding-top: 35px;
}

.idResultText{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.idResult{
    text-align: center;
    font-size: 18px;
}


@media (min-width: 180px) and (max-width: 480px) {/***********************************************321-480***********************************************/

    .mainPageBody{
        height: 100%;
    }

}