.mainPageBody{
    background-color: #fff;
    background-size: cover;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    height: 100%;
}

.ebookBeforeBox{
    padding: 20px 0px;
    width: 100%;
    background-color: #F5F5F5;
    border-radius: 8px;
    position: relative;

}

.ebookBeforeBox:not(:first-child){
    margin-top: 15px;
}
.ebookBeforeBox div{
    align-items: center;

}

.ebookBeforeBox .imgWrap{
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.ebookBeforeBox .imgWrap img{
    width: 120px;
    height: 156px;
    object-fit: cover;
}

.ebookTextWrap{
    padding-left: 20px;
    padding-top: 10px;
}

.ebookTextWrap h3{
    font-size: 16px;
    font-weight: bold;
}

.ebookTextWrap p{
    font-size: 14px;
    color: #999999;
    margin-bottom: 0px;
}

.ebookDetailBtn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}
.ebookDetailBtnImg{
    width: 21px;
    margin-left: 8px;
}

.ebooKListDetailImg{
    width: 30px;
    margin-right: 18px;

}

.exTitle{
    margin-bottom: 18px;
}

.exTitle p{
    margin-bottom: 0px;
}

.exFirstTitle p{
    margin-bottom: 0px;
}

.exFirstTitleName{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.exFirstTitle{
    margin-bottom: 48px;
}

.exFirstSubTitle{
    font-size: 14px;
    color: #7A7A7A;
}

.exTitleName{
    font-size: 20px;
    font-weight: bold;
}

.exLine{
    width: 100%;
    height: 2px;
    background-color: #333333;
    margin-bottom: 18px;
}





/*  라디오 css (옮겨가야함) */

/*!* 라디오 옵션 컨테이너 *!*/
.radio-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* 옵션 간의 간격을 설정합니다. */
    border: 1px solid #DFDFDF;
    padding: 13px;
    border-radius: 8px;
}

/* 라디오 버튼 이미지 */
.radio-option.selected {
    border-color: #4B3F24; /* Border color when selected */
}

.radio-option input[type="radio"] {
    display: none; /* 기본 라디오 버튼을 숨깁니다. */
}

.radio-option label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* 라디오 버튼 이미지 스타일 */
.radio-option label .radio-img {
    width: 28px; /* 이미지 너비를 조정합니다. */
    height: 28px; /* 이미지 높이를 조정합니다. */
    margin-right: 10px; /* 이미지와 텍스트 사이의 간격을 설정합니다. */
    border: 1px solid transparent; /* 초기에는 테두리가 없습니다. */
    border-radius: 50%; /* 이미지를 둥글게 만듭니다. */
}


/* 라디오 버튼 이미지 선택 시 스타일 */
.radio-option input[type="radio"]:checked + label .radio-img {

}


/* 라디오 버튼 이미지 off 상태 */
.radio-option input[type="radio"] + label .radio-img {
    filter: grayscale(100%); /* 이미지를 회색조로 만듭니다. */
}

.radio-option label{
    margin-bottom: 0px;
}





.exNumberWrap{
    padding-bottom: 15px ;
    border-bottom: 1px solid #DFDFDF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    margin-bottom: 20px;
}

.tab {
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.tab li {
    float: left;
    padding: 5px 7px;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid #fff;
    text-align: center;
}

.tab li a {
    display: inline;
    text-align: center;
    text-decoration: none;
    color: #999999;
    font-size: 13px;
}

.tabcont {
    display: none;
    color:black;
}
ul.tab li.on{
    border: 1px solid #333333;
    border-radius: 10px;
}

ul.tab li.on a{
    color: #000;
}
.tabcont.on {
    display: block;
}


#cancel-btn{
    width: 29%;
    padding: 16px 0px;
    text-align: center;
    font-size: 16px;
    color: #4B3F24;
    background-color: #fff;
    border-radius: 27px;
    font-weight: bold;
    border: 1px solid #4B3F24;
    margin-right: 10px;
}
#submit-btn{
    width: 70%;
    padding: 16px 0px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #4B3F24;
    border-radius: 27px;
    font-weight: bold;
    border: 1px solid #4B3F24;
}

@media (min-width: 180px) and (max-width: 480px) {/***********************************************321-480***********************************************/

    .mainPageBody{
        height: 100%;
    }

}