<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/head.html :: fragment-head}"></head>
<link th:href="@{/css/ebook/list.css}" rel="stylesheet" type="text/css" />
<body>
<div class="mainPageBody pb-4">
    <div class="header">
        <div>
            <img th:src="@{/img/icon_back-bt@2x.png}" class="headerBackBtn" alt="화살표" onclick="history.back()">
        </div>
        <h1>모의고사</h1>
    </div>
    <div class="contentWrap">
        <h2>이순신 교육 모의고사</h2>
    </div>
    <div class="py-20">
        <div class="ebookBeforeBox">
            <div class="d-flex justify-content-between">
                <div class="ebookTextWrap">
                    <h3>이순신 교육 1강 모의고사</h3>
                </div>
                <div>
                    <img th:src="@{/img/icon_go@2x.png}" class="ebooKListDetailImg" alt="화살표">
                </div>
            </div>
        </div>
        <div class="ebookBeforeBox mt-3 ">
            <div class="d-flex justify-content-between">
                <div class="ebookTextWrap">
                    <h3>이순신 교육 2강 모의고사</h3>
                </div>
                <div>
                    <img th:src="@{/img/icon_go@2x.png}" class="ebooKListDetailImg" alt="화살표">
                </div>
            </div>
        </div>
    </div>

    <div class="radio-option">
        <input type="radio" id="option1" name="options">
        <label for="option1">
            <img class="radio-img" src="../../img/icon_check_off.png" alt="라디오 버튼 이미지">
            옵션1
        </label>
    </div>

    <div class="radio-option">
        <input type="radio" id="option2" name="options">
        <label for="option2">
            <img class="radio-img" src="../../img/icon_check_off.png" alt="라디오 버튼 이미지">
            옵션2
        </label>
    </div>

    <div class="radio-option">
        <input type="radio" id="option3" name="options">
        <label for="option3">
            <img class="radio-img" src="../../img/icon_check_off.png" alt="라디오 버튼 이미지">
            옵션3
        </label>
    </div>

    <div class="radio-option">
        <input type="radio" id="option4" name="options">
        <label for="option4">
            <img class="radio-img" src="../../img/icon_check_off.png" alt="라디오 버튼 이미지">
            옵션4
        </label>
    </div>

</div>
<script>
    // 모든 라디오 옵션 컨테이너
    let radioContainers = document.querySelectorAll('.radio-option');

    // 각 라디오 옵션 컨테이너에 대해 이벤트 리스너 등록
    radioContainers.forEach(function(container) {
        container.addEventListener('click', function() {
            // 클릭된 라디오 버튼을 가져옴
            let radioBtn = this.querySelector('input[type="radio"]');

            // 현재 라디오 버튼이 이미 선택된 상태 확인
            let isChecked = radioBtn.checked;

            // 클릭된 라디오 버튼이 이미 선택된 경우에는 아무 동작x
            if (!isChecked) {
                // 모든 라디오 버튼 이미지를 기본 이미지로 설정
                let radioImgs = document.querySelectorAll('.radio-option .radio-img');
                radioImgs.forEach(function(img) {
                    img.src = '../../img/icon_check_off.png';
                });

                // 선택된 라디오 버튼의 이미지 변경
                let radioImg = this.querySelector('.radio-img');
                radioImg.src = '../../img/icon_check_on.png';

                // 모든 라디오 버튼의 체크 상태 해제
                let allRadioBtns = document.querySelectorAll('.radio-option input[type="radio"]');
                allRadioBtns.forEach(function(btn) {
                    btn.checked = false;
                });

                // 클릭된 라디오 버튼의 체크 상태 설정
                radioBtn.checked = true;

                // 체크된 라디오 버튼의 부모 요소인 .radio-option의 테두리 색상을 파란색으로 변경
                radioContainers.forEach(function(radioContainer) {
                    if (radioContainer.querySelector('input[type="radio"]').checked) {
                        radioContainer.style.borderColor = 'blue';
                    } else {
                        radioContainer.style.borderColor = ''; // 다른 요소의 테두리 색상 초기화
                    }
                });
            }

            // 이미지가 작아지는 동작을 막음
            return false;
        });
    });
</script>
</body>

</html>