.mainPageBody{
    background-color: #fff;
    background-size: cover;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    height: 100%;
}

.idPwSearchBtnBox{
    display: flex;
    align-items: center;
}

.idPwSearchBtnBox div{
    width: 50%;
    text-align: center;
    border-bottom: 1px solid #999999;
    padding: 10px 0px;
}

.idPwSearchBtnBox div a{
    font-size: 15px;
    font-weight: bold;
    color: #999999 !important;
}

.idPwSearchBtnBox .active{
    background-color: #fff;
    border-bottom: 2px solid #333;
}

.idPwSearchBtnBox .active a{
    color: #4B3F24 !important;
}

.communityWrap{
    padding: 10px;
    width: 100%;
    border: 1px solid #DFDFDF;
    border-radius: 8px;
    margin-top: 10px;
}

.firstLineWrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.communityTitle{
    font-weight: bold;
    margin-bottom: 0px;
}

.noticeLabel{
    display: inline-block;
    padding: 5px 10px;
    background-color: #4B3F24;
    color: #fff;
    font-weight: normal;
    margin-right: 10px;
    border-radius: 8px;
    font-size: 13px;
}

.communityDate{
    font-size: 14px;
    color: #999999;
    margin-bottom: 0px;
    margin-left: 10px;
}

.lastLine{
    margin-bottom: 0px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}

.noticeInfoTitle{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
}

.noticeInfoTitleWrap{
    margin-top: 15px;
}

.noticeInfoTitleWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noticeInfoEditBtnWrap{
    background-color: #F0F0F0;
    height: 24px;
    border-radius: 8px;
    margin-left: 10px;
}

.noticeInfoEditTxt{
    width: 58px;
    text-align: center;
    font-size: 14px;
    padding-top: 2px;
}
.noticeInfoEditIcon{
    width: 14px;
    margin-top: -2px;
}

.noticeInfoWriteInfo{
    margin-top: 16px;
    font-size: 14px;
    color: #999999;
}

.noticeInfoWriteInfo span{
    color: #999999;
}

.noticeInfoWriter{
    margin-right: 15px;
}

.noticeInfoBorderTop{
    border-top: 1px solid #DFDFDF;
    margin-top: 10px;
}

.noticeInfoContent{
    padding-top: 30px;
    padding-bottom: 20px;
}

.noticeInfoCommentWrap{
    padding: 10px 0;
}

.noticeInfoCommentCount{
    font-size: 14px;
    font-weight: bold;
}

.noticeInfoCommentContentWrap{
    padding: 12px;
    background-color: #F5F5F5;
    border-radius: 8px;
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
}

.noticeInfoCommentContentWrap div{
    overflow: hidden;
}

.noticeInfoCommentContentWrap div img{
    width: 48px;
    height: auto;
}

.noticeInfoCommentContentWrap2{
    display: flex;
}

.noticeInfoCommentTxtWrap{
    margin-left: 15px;
}

.noticeInfoCommentWrite{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.noticeInfoCommentContent{
    font-size: 14px;
    margin-bottom: 0px;
}

.commentDeleteIcon{
    width: 11px;
}

.commentDeleteIconImg{
    width: 100% !important;
}

.commentWriteInputWrap{
    margin-top: 15px;
    position: relative;
}

.commentWriteInput{
    width: 100%;
    border-radius: 8px;
    border: 1px solid #DFDFDF;
    padding: 15px
}

.commentSubmitBtn{
    width: 20px;
    position: absolute;
    right: 18px;
    top: 50%;
    margin-top: -10px;
}

/*.communityWrap p{*/
/*    margin-bottom: 0px;*/
/*    font-size: 15px;*/
/*    white-space: nowrap;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*}*/


@media (min-width: 180px) and (max-width: 480px) {/***********************************************321-480***********************************************/

    .mainPageBody{
        height: auto;
    }

}