<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/head.html :: fragment-head}"></head>
<link th:href="@{/css/idInquiry.css}" rel="stylesheet" type="text/css" />
<body>
<div class="mainPageBody">
    <div class="header">
        <div>
            <img th:src="@{/img/icon_back-bt@2x.png}" class="headerBackBtn" alt="화살표" onclick="history.back()">
        </div>
        <h1>성적•출결 확인</h1>
    </div>
    <div class="py-20 mt-4">
        <div class="idPwSearchBtnBox">
            <div ><a href="/score">성적 확인</a></div>
            <div class="active"><a href="/attendance">출결 확인</a></div>
        </div>
    </div>
    <div class="formWrap mt-3">
        <label class="mt-3" for="name">이름*</label><br>
        <input type="text" class="" id="name" name="name" placeholder="이름">

        <label class="mt-3" for="phoneNumber">휴대폰번호*</label><br>
        <input type="text" class="" id="phoneNumber" name="phoneNumber" placeholder="‘-‘(하이픈) 제외 입력">

        <input type="submit" class="submitBtn" value="확인">
    </div>
</div>
</body>

</html>