<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/head.html :: fragment-head}"></head>
<link th:href="@{/css/ebook/before.css}" rel="stylesheet" type="text/css" />
<body>
<div class="mainPageBody pb-4">
    <div class="header">
        <div>
            <img th:src="@{/img/icon_back-bt@2x.png}" class="headerBackBtn" alt="화살표" onclick="history.back()">
        </div>
        <h1>강의 교재</h1>
    </div>
    <div class="contentWrap">
        <h2>강의 교재</h2>
    </div>
    <div class="py-20">
        <div class="ebookBeforeBox" th:each="list : ${lists}">
            <div class="d-flex">
                <div class="imgWrap">
                    <img th:src="'http://1.234.5.102:8080/'+ ${list.ebookCategoryImg}" class="" alt="화살표">
                </div>
                <div class="ebookTextWrap">
                    <h3 th:text="${list.ebookCategoryName}">이순신 강의 교재</h3>
                    <p th:text="${list.ebookCategoryContent}">이순신 장군의 생애 전반에 대한 교육 자료 입니다.</p>
                </div>
            </div>
<!--            ebookCategoryIdx-->
                <div class="ebookDetailBtn" th:onclick="|location.href='/ebook/${list.ebookCategoryIdx}'|">
            교재 보기<img th:src="@{/img/icon_showvideo@2x.png}" class="ebookDetailBtnImg" alt="화살표">
            </div>
        </div>
    </div>
</div>
</body>

</html>