<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luxury.storyteller.mapper.AttendanceMapper">


    <select id="findAttendanceByAll" parameterType="String" resultType="com.luxury.storyteller.dto.AttendanceDto">
        SELECT * FROM
            user u
        LEFT JOIN
            attendance a
        ON
            u.user_idx = a.user_idx
            AND
            DATE(a.created_at) = #{date}
        WHERE
            u.role = 'ROLE_USER'
        ORDER BY
            u.name;
    </select>

    <insert id="attendanceInsert" parameterType="com.luxury.storyteller.dto.AttendanceDto">
        INSERT INTO attendance (
            user_idx, result, created_at
        ) VALUES (
            #{userIdx}, #{result}, #{createdAt}
        )
    </insert>

    <select id="findAttendanceByIdxAndDate" parameterType="com.luxury.storyteller.dto.AttendanceDto" resultType="com.luxury.storyteller.dto.AttendanceDto">
        SELECT * FROM
            luxury_storyteller.attendance
        WHERE user_idx = #{userIdx}
        AND DATE(created_at) = #{createdAt};
    </select>

    <update id="attendanceModify" parameterType="com.luxury.storyteller.dto.AttendanceDto">
        UPDATE
            attendance
        SET
            result = #{result},
            created_at = #{createdAt}
        WHERE
            attendance_idx = #{attendanceIdx}
    </update>

    <select id="findAttendanceByUserIdx" parameterType="com.luxury.storyteller.dto.AttendanceDto" resultType="com.luxury.storyteller.dto.AttendanceDto">
        <![CDATA[
            SELECT
                dates.date,
                u.user_idx,
                u.name,
                a.result,
                DATE_FORMAT(a.created_at, "%Y-%m-%d") as date1,
                DATE_FORMAT(a.created_at, "%H:%i:%s") as date2
            FROM
                (
                    SELECT
                        DATE(CONCAT(#{year}, '-', #{month}, '-01') + INTERVAL (t1.n + t2.m) DAY) AS date
                    FROM
                        (SELECT 0 AS n UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4
                        UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9) t1,
                        (SELECT 0 AS m UNION ALL SELECT 10 UNION ALL SELECT 20 UNION ALL SELECT 30) t2
                    WHERE
                        DATE(CONCAT(#{year}, '-', #{month}, '-01') + INTERVAL (t1.n + t2.m) DAY) <= LAST_DAY(CONCAT(#{year}, '-', #{month}, '-01'))
                ) dates
            LEFT JOIN
                user u ON u.user_idx = #{userIdx}
            LEFT JOIN
                attendance a ON u.user_idx = a.user_idx AND DATE(a.created_at) = dates.date
            ORDER BY
            dates.date desc;
        ]]>
    </select>
</mapper>
