<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luxury.storyteller.mapper.LectureMapper">

    <select id="findLectureListAll" resultType="com.luxury.storyteller.dto.LectureDto">
        SELECT * FROM lecture;
    </select>

    <select id="findLectureByLectureIdx" parameterType="int" resultType="com.luxury.storyteller.dto.LectureDto">
        SELECT * FROM lecture WHERE lecture_idx = #{lectureIdx};
    </select>

    <insert id="createLecture" parameterType="com.luxury.storyteller.dto.LectureDto">
        INSERT INTO lecture (
            title, content, video_url, watching_tile, thumbnail_url
        ) VALUES (
            #{title}, #{content}, #{videoUrl}, #{watchingTile}, #{thumbnailUrl}
        )
    </insert>

    <update id="modifyLecture" parameterType="com.luxury.storyteller.dto.LectureDto">
        UPDATE
            lecture
        SET
            title = #{title},
            content = #{content},
            video_url = #{videoUrl},
            watching_tile = #{watchingTile}
        WHERE
            lecture_idx = #{lectureIdx}
    </update>

    <delete id="deleteLecture" parameterType="int">
        DELETE FROM lecture WHERE lecture_idx = #{lectureIdx}
    </delete>

</mapper>
