<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luxury.storyteller.mapper.UserMapper">


    <insert id="createUser" parameterType="com.luxury.storyteller.dto.user.UserRequestDto">
        INSERT INTO user (
            id, password, name, phone_number
        ) VALUES (
            #{id}, #{password}, #{name}, #{phoneNumber}
        )
    </insert>


</mapper>
