<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/head.html :: fragment-head}"></head>
<link th:href="@{/css/begin.css}" rel="stylesheet" type="text/css" />
<body>
<div class="mainPageBody">
    <div class="header">
        <div>
            <img th:src="@{/img/icon_back-bt@2x.png}" class="headerBackBtn" alt="화살표" onclick="history.back()">
        </div>
        <h1>회원가입</h1>
    </div>
    <div class="contentWrap">
        <h2>회원 정보 입력</h2>
    </div>
    <div class="formWrap">
        <form action="/signup" method="POST" onsubmit="return checks()">
            <label class="" for="id">아이디*</label><br>
            <input type="text" class="" id="id" name="id" placeholder="아이디" >

            <label class="mt-3" for="pw">비밀번호*</label><br>
            <input type="password" class="" id="pw" name="password" placeholder="숫자, 영문, 특수문자 조합 최소 8자~20자" >

            <label class="mt-3" for="pw2">비밀번호 확인*</label><br>
            <input type="password" class="" id="pw2" name="" placeholder="비밀번호 재입력" >

            <label class="mt-3" for="phoneNumber">휴대폰번호*</label><br>
            <input type="number" class="" id="phoneNumber" name="phoneNumber" placeholder="‘-‘(하이픈) 제외 입력" >

            <label class="mt-3" for="name">이름*</label><br>
            <input type="text" class="" id="name" name="name" placeholder="이름" >

            <input type="submit" class="submitBtn" value="확인">
        </form>
    </div>
</div>
</body>
<script>
    function checks(){

        var idPattern = /^[a-zA-Z0-9]+$/;
        var passwordPattern = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*]).{8,20}$/;

        if($("#id").val() == ""){
            alert("아이디를 입력해주세요.");
            $("#id").focus();
            return false;
        }

        if (!idPattern.test($("#id").val())) {
            alert("아이디는 영문/숫자로만 입력해주세요.");
            $("#id").focus();
            return false;
        }

        // 아이디 중복 검사
        var isDuplicate = false;
        $.ajax({
            url: "/checkDuplicateId",
            type:"POST",
            data: JSON.stringify({id : $("#id").val()}),
            contentType: "application/json",
            async: false,
            success:function(data){
                if (data) {
                    isDuplicate = data
                }
            },
            error: function(request,status,error) {
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        })

        if (!isDuplicate) {
            alert("아이디가 중복됩니다. 다른 아이디를 입력해주세요.");
            $("#id").focus();
            return false;
        }

        if($("#pw").val() == ""){
            alert("비밀번호를 입력해주세요.");
            $("#pw").focus();
            return false;
        }

        if (!passwordPattern.test($("#pw").val())) {
            alert("비밀번호는 숫자, 영문, 특수문자 조합 최소 8자~20자로 입력해주세요.");
            $("#pw").focus();
            return false;
        }

        if($("#pw2").val() == ""){
            alert("비밀번호 확인을 입력해주세요.");
            $("#pw2").focus();
            return false;
        }

        if($("#pw").val() != $("#pw2").val()){
            alert("비밀번호가 다릅니다. 확인해 주세요.");
            $("#pw2").focus();
            return false;
        }

        if($("#phoneNumber").val() == ""){
            alert("휴대폰번호를 입력해주세요");
            $("#phoneNumber").focus();
            return false;
        }

        if($("#name").val() == ""){
            alert("이름을 입력해주세요");
            $("#name").focus();
            return false;
        }


        return true;
    }
</script>
</html>