<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/head.html :: fragment-head}"></head>
<link th:href="@{/css/begin.css}" rel="stylesheet" type="text/css" />
<body>
<div class="mainPageBody">
    <div class="header">
        <div>
            <img th:src="@{/img/icon_back-bt@2x.png}" class="headerBackBtn" alt="화살표" onclick="history.back()">
        </div>
        <h1>회원가입</h1>
    </div>
    <div class="contentWrap">
        <h2>회원 정보 입력</h2>
    </div>
    <div class="formWrap">
        <form action="/signup" method="POST">
            <label class="" for="id">아이디*</label><br>
            <input type="text" class="" id="id" name="id" placeholder="아이디" >

            <label class="mt-3" for="pw">비밀번호*</label><br>
            <input type="password" class="" id="pw" name="password" placeholder="숫자, 영문, 특수문자 조합 최소 8자~20자">

            <label class="mt-3" for="pw2">비밀번호 확인*</label><br>
            <input type="password" class="" id="pw2" name="" placeholder="비밀번호 재입력">

            <label class="mt-3" for="phoneNumber">휴대폰번호*</label><br>
            <input type="number" class="" id="phoneNumber" name="phoneNumber" placeholder="‘-‘(하이픈) 제외 입력">

            <label class="mt-3" for="name">이름*</label><br>
            <input type="text" class="" id="name" name="name" placeholder="이름">

            <input type="submit" class="submitBtn" value="확인">
        </form>
    </div>
</div>
</body>

</html>