<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/head.html :: fragment-head}"></head>
<link th:href="@{/css/index.css}" rel="stylesheet" type="text/css" />
<body>
    <div class="mainPageBody px-4 py-2">
        <div class="mt-2">
            <img th:src="@{/img/main_logo@2x.png}" class="logoImg" alt="logo">
        </div>
        <div class="noticeWrap" th:onclick="|location.href='/community/notice/${lastCommunity.communityIdx}'|">
            <div class="noticeBox d-flex justify-content-between">
                <p th:text="'[공지] ' + ${lastCommunity.title}">[공지] 강의 동영상 시청시 딜레이 발생 문제</p>
                <div>
                    <img th:src="@{/img/icon_go@2x.png}" class="mainArrow ml-2" alt="arrow">
                </div>
            </div>
        </div>

        <div class="studyListWrap" >
            <div class="studyListBox" onclick="location.href='/education'">
                <p class="studyListTitle">교육과정</p>
                <p class="studyListSubTitle">교육 프로세스를 미리 숙지해보세요.</p>
                <div>
                    <img th:src="@{/img/main_edustepgo@2x.png}" class="mainArrow" alt="arrow">
                </div>
            </div>
        </div>

        <div class="studyIconListWrap">
            <h2>강의 수강</h2>
            <div class="studyIconList d-flex justify-content-between">
                <div onclick="location.href='/lecture'">
                    <img th:src="@{/img/icon_edu_video@2x.png}" class="mainArrow" alt="동영상 강의">
                    <p>동영상 강의</p>
                </div>
                <div onclick="location.href='/ebook'">
                    <img th:src="@{/img/icon_edu_book@2x.png}" class="mainArrow" alt="강의 교재">
                    <p>강의 교재</p>
                </div>
                <div onclick="location.href='/examination'">
                    <img th:src="@{/img/icon_edu_exam.png}" class="mainArrow" alt="모의고사">
                    <p>모의고사</p>
                </div>
            </div>
        </div>

        <div class="settingIconListWrap">
            <h2>수강현황 및 설정</h2>
            <div class="studyIconList d-flex justify-content-between">
                <div onclick="location.href='/score'">
                    <img th:src="@{/img/icon_edu_check@2x.png}" class="mainArrow" alt="동영상 강의">
                    <p>성적•출결</p>
                </div>
                <div onclick="location.href='/community/notice'">
                    <img th:src="@{/img/icon_edu_commu@2x.png}" class="mainArrow" alt="강의 교재">
                    <p>커뮤니티</p>
                </div>
                <div onclick="location.href='/user/info'">
                    <img th:src="@{/img/icon_user_setting@2x.png}" class="mainArrow" alt="모의고사">
                    <p>개인정보설정</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>