.mainPageBody{
    background-color: #fff;
    background-size: cover;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    height: 100%;
}

.ebookBeforeBox{
    padding: 18px 0px;
    width: 100%;
    background-color: #F5F5F5;
    border-radius: 8px;
    position: relative;

}
.ebookBeforeBox div{
    align-items: center;

}

.ebookBeforeBox .imgWrap{
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.ebookBeforeBox .imgWrap img{
    width: 120px;
    height: 156px;
    object-fit: cover;
}

.ebookTextWrap{
    padding-left: 20px;
    padding-top: 10px;
}

.ebookTextWrap h3{
    font-size: 16px;
    font-weight: bold;
}

.ebookTextWrap p{
    font-size: 14px;
    color: #999999;
    margin-bottom: 0px;
}

.ebookDetailBtn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}
.ebookDetailBtnImg{
    width: 21px;
    margin-left: 8px;
}

.ebooKListDetailImg{
    width: 30px;
    margin-right: 18px;

}

.infoBoxWrap{
    display: flex;
    margin-bottom: 16px;
}

.infoBoxImgWrap{
    position: relative;
    width: 106px;
    height: 106px;
    overflow: hidden;
    border-radius: 16px;
}

.infoBoxImgWrap img{
    height: 100%;
    width: auto;
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.infoBoxContentWrap{
    padding: 10px 20px;
}

.infoBoxContentWrap h2{
    font-size: 24px;
    font-weight: bold;
}

.infoBoxContentWrap p{
    margin-bottom: 0px;
    font-size: 16px;
}

.infoEditBoxWrap{
    padding-bottom: 32px;
    border-bottom: 1px solid #DFDFDF;
}

.infoGoBoxWrap{
    padding-top: 16px;
}

.idSubText{
    font-size: 13px;
    margin-bottom: 0px;
}

@media (min-width: 180px) and (max-width: 480px) {/***********************************************321-480***********************************************/

    .mainPageBody{
        height: auto;
    }

}