<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/head.html :: fragment-head}"></head>
<link th:href="@{/css/community/community.css}" rel="stylesheet" type="text/css" />
<body>
<div class="mainPageBody">
    <div class="header">
        <div>
            <img th:src="@{/img/icon_back-bt@2x.png}" class="headerBackBtn" alt="화살표" onclick="history.back()">
        </div>
        <h1>공지사항</h1>
    </div>
    <div class="py-20">
        <div>
            <div>
                <p>출석 오류에 관한 공지사항</p>
                <div>
                    <span>
                        수정
                        <img th:src="@{/img/icon_edit@2x.png}" class="" alt="수정아이콘">
                    </span>
                </div>
            </div>
            <div>
                <span>관리자</span>
                <span>24.04.01</span>
            </div>
        </div>
    </div>
</div>
</body>

</html>