<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/admin/include/head.html :: fragment-head}">
</head>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<style>
    .result1{
        border: 1px solid #ddd;
        padding: 5px 20px;
        border-radius: 20px;
        font-size: 14px;
        text-align: center;
        color: #000;
        background-color: #ddd;
        font-weight: 600;
        cursor: pointer;
    }
    .result0{
        border: 1px solid #3D83E3;
        padding: 5px 20px;
        border-radius: 20px;
        font-size: 14px;
        text-align: center;
        color: #fff;
        background-color: #3D83E3;
        font-weight: 600;
        cursor: pointer;
    }

    .resultNull{
        border: 1px solid #ddd;
        padding: 5px 20px;
        border-radius: 20px;
        font-size: 14px;
        text-align: center;
        color: #000;
        background-color: #fff;
        font-weight: 600;
        cursor: pointer;
    }
</style>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <ul th:replace="~{/admin/include/nav.html :: fragment-nav}"> </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav th:replace="~{/admin/include/topnav.html :: fragment-topnav}"></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">출석관리</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">출석</h6>
                        </div>
                        <div class="card-body">
                            <div>
                                <p>
                                    <span th:onclick="'location.href=\''+ @{/admin/attendance?type=before&date=} + @{${today}} + '\''" onmousedown="return false;">
                                        <i class="fa-solid fa-arrow-left"></i>
                                    </span>
                                    <span th:text="${today}" style="font-size: 20px; font-weight: bold; margin: 0 10px" onmousedown="return false;"></span>
                                    <span th:onclick="'location.href=\''+ @{/admin/attendance?type=after&date=} + @{${today}} + '\''" onmousedown="return false;">
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </span>
                                    <span id="datepicker-icon" class="ml-3">
                                        <i class="fa-solid fa-calendar"></i>
                                    </span>
                                    <input type="text" id="datepicker" style="display: none;" onmousedown="return false;">
                                    <span class="result0 ml-3" th:onclick="'location.href=\''+ @{/admin/attendance} + '\''">오늘</span>
                                </p>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered" id="" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>NO</th>
                                            <th width="20%">이름</th>
                                            <th width="55%">시간</th>
                                            <th width="20%">결과</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item ,list : ${lists}"  th:onclick="showAttendanceModal([[${item.name}]], [[${item.userIdx}]], [[${today}]])">
                                            <td th:text="${list.count}">1</td>
                                            <td th:text="${item.name}">System Architect</td>
                                            <td th:switch="${item.createdAt}">
                                                <span th:case="null">-</span>
                                                <span th:case="*">[[${item.createdAt}]]</span>
                                            </td>
                                            <td th:switch="${item.result}">
                                                <span th:case="null" class="resultNull">-</span>
                                                <span th:case="'0'" class="result0">출석</span>
                                                <span th:case="'1'" class="result1">결석</span>
                                                <span th:case="*">[[${item.result}]]</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="../login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="attendanceModal" tabindex="-1" role="dialog" aria-labelledby="attendanceModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="attendanceModalLabel">출석/결석 선택</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" value="" id="idxInput">
                    <input type="hidden" value="" id="todayInput">
                    <p id="attendanceModalName"></p>
                    <button class="btn btn-primary" onclick="updateAttendance('0')">출석</button>
                    <button class="btn btn-danger" onclick="updateAttendance('1')">결석</button>
                </div>
            </div>
        </div>
    </div>



    <!-- jQuery 및 jQuery UI 로드 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <!-- 나머지 스크립트들은 이후에 로드 -->
    <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{js/sb-admin-2.min.js}"></script>
    <script th:src="@{vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{vendor/datatables/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{js/demo/datatables-demo.js}"></script>

    <!-- Datepicker 초기화 스크립트 -->
    <script th:inline="javascript">
        $(document).ready(function() {
            $('#datepicker-icon').click(function() {
                $('#datepicker').datepicker('show');
            });

            $('#datepicker').datepicker({
                dateFormat: 'yy-mm-dd',
                onSelect: function(dateText, inst) {
                    window.location.href = '/admin/attendance?type=specific&date=' + dateText;
                }
            });
        });
    </script>

    <script th:inline="javascript">
        function showAttendanceModal(name, idx, today) {
            $('#attendanceModalName').text('이름: ' + name);
            $('#attendanceModal').modal('show');

            $('#idxInput').val(idx);
            $('#todayInput').val(today);
        }

        function updateAttendance(result) {
            var idx = $('#idxInput').val();
            var today = $('#todayInput').val();

            // 현재 시간을 가져오는 함수
            function getCurrentTime() {
                var now = new Date();
                var hours = now.getHours().toString().padStart(2, '0');
                var minutes = now.getMinutes().toString().padStart(2, '0');
                var seconds = now.getSeconds().toString().padStart(2, '0');
                return hours + ':' + minutes + ':' + seconds;
            }

            // 현재 시간을 today 변수에 추가
            today += ' ' + getCurrentTime();

            $('.modal-body button').removeClass('active');



            if (result === '0') {
                if(confirm("출석 처리 하시겠습니까?")){
                    location.href = `/admin/attendance/${idx}/${result}/${today}`;
                }
            } else if (result === '1') {
                if(confirm("결석 처리 하시겠습니까?")){
                    location.href = `/admin/attendance/${idx}/${result}/${today}`;
                }
            }

            // Close the modal after update

        }
    </script>
</body>

</html>