<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/head.html :: fragment-head}"></head>
<link th:href="@{/css/education/list.css}" rel="stylesheet" type="text/css" />
<body>
<div class="mainPageBody pb-4">
    <div class="header">
        <div>
            <img th:src="@{/img/icon_back-bt@2x.png}" class="headerBackBtn" alt="화살표" onclick="history.back()">
        </div>
        <h1>교육과정</h1>
    </div>
    <div class="contentWrap">
        <h2>명품 이야기꾼 교육 과정</h2>
        <p>교육 프로세스</p>
    </div>
    <div class="py-20">
        <div class="educationBoxWrap mt-2">
            <div class="numberRound">
                01
            </div>
            <p>입학식 및 해설사의 이해</p>
        </div>
        <div class="educationBoxWrap mt-4">
            <div class="numberRound">
                02
            </div>
            <p>이순신 특강1, 기초 퍼포먼스(이순신 교육)</p>
        </div>
        <div class="educationBoxWrap mt-4">
            <div class="numberRound">
                03
            </div>
            <p>이순신 특강2, 기초 퍼포먼스(이순신 교육)</p>
        </div>
        <div class="educationBoxWrap mt-4">
            <div class="numberRound">
                04
            </div>
            <p>캐릭터 매칭</p>
        </div>
        <div class="educationBoxWrap mt-4">
            <div class="numberRound">
                05
            </div>
            <p>워크숍, 도시락콘서트, 현장학습</p>
        </div>
        <div class="educationBoxWrap mt-4">
            <div class="numberRound">
                06
            </div>
            <p>이순신 특강3, 안전서비스교육</p>
        </div>
        <div class="educationBoxWrap mt-4">
            <div class="numberRound">
                07
            </div>
            <p>이순신 특강4, 심화 퍼포먼스 교육</p>
        </div>
        <div class="educationBoxWrap mt-4">
            <div class="numberRound">
                08
            </div>
            <p>수학여행 및 현장답사</p>
        </div>
        <div class="educationBoxWrap mt-4">
            <div class="numberRound">
                Fin.
            </div>
            <p>졸업식</p>
        </div>
    </div>
</div>
</body>

</html>