<html xmlns:th="http://www.thymeleaf.org">

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="fragment-nav">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/admin/index}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">명품이야기꾼 Admin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" th:href="@{/admin/index}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>



    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/users}">
            <i class="fas fa-fw fa-table"></i>
            <span>회원관리</span></a>
    </li>


    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/notice}">
            <i class="fas fa-fw fa-table"></i>
            <span>공지사항</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/qna}">
            <i class="fas fa-fw fa-table"></i>
            <span>Q&A</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/examination}">
            <i class="fas fa-fw fa-table"></i>
            <span>모의고사</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/score}">
            <i class="fas fa-fw fa-table"></i>
            <span>점수관리</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/attendance}">
            <i class="fas fa-fw fa-table"></i>
            <span>출석관리</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/ebook}">
            <i class="fas fa-fw fa-table"></i>
            <span>교재관리</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/lecture}">
            <i class="fas fa-fw fa-table"></i>
            <span>동영상강의 관리</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>